analysis/LowDensity/exported_data/coverage.csv filter=lfs diff=lfs merge=lfs -text
analysis/HighDensity/exported_data/coverage.csv filter=lfs diff=lfs merge=lfs -text
analysis/Rectangular/exported_data/coverage.csv filter=lfs diff=lfs merge=lfs -text
